:root {
  --color-link: #5f5f5f;
  --color-primary: #911431;
  --color-secondary:  #a2c0cd;
  /* #a2c0cd;*/
  --color-light: #e5e5e5;
  --color-dark: #2b2b33;
  --color-shadow: #2b2b3390;
  
  --font-playfair: 'Playfair Display', serif;
  --font-roboto: 'Roboto', sans-serif;

  --text-small: 16px;
  --text-medium: 20px;
}
/* Main navbar*/
.nav-item {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.nav-link {
  display: inline;
}
.fa-shopping-cart {
  font-size: 1.5rem;
}
.fa-shopping-cart:hover {
  text-align: right;
  color: var(--color-light);
}
/* Home */
.header {
  height: 100vh;
  position: relative;
}
.carousel-header, .carousel-inner, .carousel-item {
  height: 100%;
}
.header-img {
  height: 100%;
  width: 100%;
  filter: brightness(50%) saturate(150%);
}
.header-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-cta {
  padding: .5rem 1.5rem;
  color: var(--color-light);
  border: 1px solid var(--color-light);
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  transition: background-color .5s ease-in-out;
}
.header-cta:hover {
  background-color: var(--color-primary);
}

/* Footer */
.main-footer {
  width: 100%;
  color: var(--color-light);
}
/* Utils */
.text-playfair {
  font-family: var(--font-playfair);
  font-weight: 700;
  letter-spacing: .2rem;
}
.text-roboto {
  font-family: var(--font-roboto);
  font-weight: 400;
}
.bgc-wine {
  background-color: var(--color-primary);
}
.text-wine {
  font-weight: 500;
}
.main-title {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-secondary);
}
/* generics */
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-roboto);
  background-color: var(--color-dark);
  font-size: var(--text-small);
}
a, a:hover {
  text-decoration: none;
  color: var(--color-light);
}
img {
  object-fit: cover;
}
/* theme */
.btn-warning {
  background-color:  var(--color-secondary) !important;
}
.text-warning {
  color:  var(--color-secondary) !important;
}
.text-secondary {
  color: var(--color-secondary);
}
.btn-self {
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
}
.btn-self:hover {
  background-color: var(--color-light);
  color: var(--color-primary);
}
/* Helpers */
li[class*="active"] a {
  font-weight: 500;
  position: relative;
  color: var(--color-light) !important;
}
li[class*="active"] a:before {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-light);
}