.single-team {
    
    margin-bottom: .5rem;
}
.single-team:hover .social-team {
    cursor: pointer;
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
}
.img-area {
    overflow: hidden;
    position: relative;
}
.img-responsive {
    height: 300px;
    width: 100%;
    transition: all .4s ease 0s;
}
.img-area:hover .img-responsive {
    transform: scale(1.2);
}
@media  (max-width: 768px) {
    .img-responsive {
        display: inline-block;
    }
}
.social-team {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
}
.list-inline {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.social-team-icon {
    border: 1px solid var(--color-light);
    color: var(--color-light);
    display: block;
    font-size: 1.5rem;
    padding: .5rem;
    text-align: center;
    margin-right: .2rem;
    margin-left: .2rem;
}
.social-team-icon:hover {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 1px solid transparent;
}
.img-text {
    padding: 1.5rem 1rem;
    color: var(--color-light);
    text-align: center;
}
.team-name {
    margin: 0 0 .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--color-secondary);
}
.team-rol {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .2rem;
}